@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: rgb(26, 26, 46);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: rgb(14, 14, 24);
  color: rgb(214, 214, 241);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 15px;
}

#task {
  padding: 10px 25px;
  width: 300px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 50px;
  margin-bottom: 20px;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
}

.main__form__select {
  display: flex;
}

#sortBy {
  padding: 5px 15px;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
